<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : null %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : null %>"
          />
          <span  onclick="showPassword('password')" class="fas fa-eye-slash" id="display"></span>
          
          <p style="color:grey">
            Minimum Requirements: </br>
            At least 10 characters long </br>
            At least 1 uppercase letter </br>
            At least 1 lowercase letter </br>
            At least 1 number
          </p>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : null %>"
          />
          <i onclick="showPassword('confirmPassword')" class="fas fa-eye-slash" id="display1"></i>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            placeholder="(555) 555-5555"
            value="<%= typeof phone != 'undefined' ? phone : null %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      
      <script type="text/javascript">
        function showPassword(elementId) { 
      	  let element = document.getElementById(elementId);
	        let c = element.nextElementSibling; 

	        if (element.getAttribute('type') == "password") { 
	         	c.removeAttribute("class"); 
        		c.setAttribute("class","fas fa-eye"); 

	        	element.removeAttribute("type"); 
            element.setAttribute("type","text"); 
        	} else { 
	        	element.removeAttribute("type"); 
	        	element.setAttribute('type','password'); 
		
	        	c.removeAttribute("class"); 
        		c.setAttribute("class","fas fa-eye-slash"); 
        	} 
        }; 

        document.getElementById('phone').addEventListener('input', function (e) {
          var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
          e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });
      </script>
      
    </div>
  </div>
</div>
